{% extends "skeleton/page.twig" %}

{% block content %}
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Edit {{ user.username }}</div>
                        <div class="panel-body">

                            <form action="{{ path_for('dashboard.user', {'uuid': user.uuid}) }}" method="post">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group{{ errors.username ? ' has-error' : '' }}">
                                            <label for="username">Username</label>
                                            <input type="text" name="username" id="username" class="form-control border-input" placeholder="Username" value="{{ user.username ? user.username : '' }}">
                                            {% if errors.username %}
                                                <span class="help-block">{{ errors.username | first }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group{{ errors.email ? ' has-error' : '' }}">
                                            <label for="email">Email</label>
                                            <input type="email" name="email" id="email" class="form-control border-input" placeholder="you@domain.com" value="{{ user.email ? user.email : '' }}">
                                            {% if errors.email %}
                                                <span class="help-block">{{ errors.email | first }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group{{ errors.admin ? ' has-error' : '' }}">
                                            <div class="row text-center">
                                                <label for="admin">Admin </label>
                                            </div>
                                            <div class="row text-center">
                                                <input type="hidden" value="off" name="admin">
                                                <input type="checkbox" name="admin"
                                                       id="admin" value="on"
                                                        {% if old.admin %}
                                                            {% if old.admin == "off" %}
                                                            {% else %}
                                                                checked
                                                            {% endif %}
                                                        {% else %}
                                                            {% if user.admin %}
                                                                checked
                                                            {% endif %}
                                                        {% endif %}
                                                >
                                            </div>
                                            <div class="clearfix"></div>
                                            {% if errors.admin %}
                                                <span class="help-block">{{ errors.admin | first }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group{{ errors.active ? ' has-error' : '' }}">
                                            <div class="row text-center">
                                                <label for="active">Enabled </label>
                                            </div>
                                            <div class="row text-center">
                                                <input type="hidden" value="off" name="active">
                                                <input type="checkbox" name="active"
                                                       id="active" value="on"
                                                        {% if old.active %}
                                                            {% if old.active == "off" %}
                                                            {% else %}
                                                                checked
                                                            {% endif %}
                                                        {% else %}
                                                            {% if user.active %}
                                                                checked
                                                            {% endif %}
                                                        {% endif %}
                                                >
                                            </div>
                                            <div class="clearfix"></div>
                                            {% if errors.active %}
                                                <span class="help-block">{{ errors.active | first }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row text-center form-button-row">
                                    <a role="button" class="btn btn-info btn-fill btn-wd" href="{{ path_for('dashboard.users') }}">Cancel</a>
                                    <button type="submit" class="btn btn-info btn-fill btn-wd">Save</button>
                                </div>
                                <div class="clearfix"></div>
                                {{  csrf.field | raw }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Change Password</div>
                        <div class="panel-body">

                            <form action="{{ path_for('dashboard.user.password', {'uuid': user.uuid}) }}" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group{{ errors.password ? ' has-error' : '' }}">
                                            <label for="password">New Password</label>
                                            <input type="password" name="password" id="password" class="form-control border-input">
                                            {% if errors.password %}
                                                <span class="help-block">{{ errors.password | first }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group{{ errors.confirm ? ' has-error' : '' }}">
                                            <label for="confirm">Confirm Password</label>
                                            <input type="password" name="confirm" id="confirm" class="form-control border-input">
                                            {% if errors.confirm %}
                                                <span class="help-block">{{ errors.confirm | first }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row text-center form-button-row">
                                    <a role="button" class="btn btn-info btn-fill btn-wd" href="{{ path_for('dashboard.users') }}">Cancel</a>
                                    <button type="submit" class="btn btn-info btn-fill btn-wd">Save</button>
                                </div>
                                <div class="clearfix"></div>
                                {{  csrf.field | raw }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}