{% block sidebar %}

    <div class="sidebar" data-background-color="black" data-active-color="danger">

        <!--
            Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
            Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        -->

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="{{ path_for('home') }}" class="simple-text">
                    {{ name }}
                </a>
            </div>

            <ul class="nav">
                {%  if auth.check %}
                    <li{% if pageName == 'home' %} class="active"{% endif %}>
                        <a href="{{ path_for('home') }}">
                            <i class="ti-home"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    {% if auth.roles.admin %}
                        <li{% if pageName == 'dashboard' %} class="active"{% endif %}>
                            <a href="{{ path_for('dashboard') }}">
                                <i class="ti-panel"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                    {% endif %}
                {% else %}
                    <li{% if pageName == 'home' %} class="active"{% endif %}>
                        <a href="{{ path_for('home') }}">
                            <i class="ti-home"></i>
                            <p>Home</p>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}